
legislativas_2022_media_monitor_29jan2022/legislativas_2022_media_monitor_29jan2022_raw_data/._crowdtangle_2022_01_29_andreventura_last_30_days_dataset_raw.csv
legislativas_2022_media_monitor_29jan2022/legislativas_2022_media_monitor_29jan2022_raw_data/._crowdtangle_2022_01_29_antoniocosta_last_30_days_dataset_raw.csv
legislativas_2022_media_monitor_29jan2022/legislativas_2022_media_monitor_29jan2022_raw_data/._crowdtangle_2022_01_29_inesreal_last_30_days_dataset_raw.csv
legislativas_2022_media_monitor_29jan2022/legislativas_2022_media_monitor_29jan2022_raw_data/._crowdtangle_2022_01_29_ruirio_last_30_days_dataset_raw.csv
legislativas_2022_media_monitor_29jan2022/legislativas_2022_media_monitor_29jan2022_raw_data/._crowdtangle_2022_01_29_ruitavares_last_30_days_dataset_raw.csv
legislativas_2022_media_monitor_29jan2022/._legislativas_2022_media_monitor_29jan2022_raw_data
legislativas_2022_media_monitor_29jan2022/legislativas_2022_media_monitor_29jan2022_raw_data/._.DS_Store
legislativas_2022_media_monitor_29jan2022/legislativas_2022_media_monitor_29jan2022_raw_data/.DS_Store
legislativas_2022_media_monitor_29jan2022/legislativas_2022_media_monitor_29jan2022_screenshots/._.DS_Store
legislativas_2022_media_monitor_29jan2022/legislativas_2022_media_monitor_29jan2022_screenshots/.DS_Store
